# Perimortem .gitignore config

# Buildsystem
.bin/*
.reference/*
MODULE.bazel.lock

# LSP Client
tetrodotoxin/lsp/package-lock.json
tetrodotoxin/lsp/puffer
tetrodotoxin/lsp/ttx-lang-server
tetrodotoxin/lsp/tsconfig.tsbuildinfo
tetrodotoxin/lsp/*.vsix
tetrodotoxin/lsp/out/*
tetrodotoxin/lsp/node_modules/*

# Agent tooling
.agents/
.codex/
.claude/

# Benchmark against 3P
# nlohmann json, slows down build by quite a bit.
core/tests/benchmarks/json.hpp

# Profiling
perf.*

# Testing locally.
.scratch/*
build_trace.data
post_pass.md
refactor.md
